#shortMenu{
	position:fixed;
	left:0px;
	right:auto;
	top:50%;
	margin-top:-200px;	
	width:50px;
	background-color:white;
	padding:5px;
}


#frame{

	position:fixed;
	left:50px;
	right:auto;
	top:0px;
	bottom:auto;
}

.innerMenu{
	float:right;
}
